<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Saviors</title>
</head>
<body>
    <div class="main min-h-screen w-full bg-zinc-800 text-white select-none">
        <nav class="fixed top-0 left-0 w-full bg-zinc-800 shadow-xl z-50">
            <div class="flex flex-wrap md:flex-nowrap items-center justify-between px-4 md:px-10 h-auto md:h-20">
                <h1 class="text-lg md:text-2xl font-bold">
                Hello, <span class="text-yellow-300"><%= currUser.username %></span> Welcome to <span class="text-emerald-300">Saviors</span>
                </h1>
                <div class="flex gap-4 mt-2 md:mt-0">
                <a href="/post" class="flex flex-row items-center gap-1">
                    <box-icon name='conversation' color="#2196f3"></box-icon>
                    <h4 class="text-blue-500 text-lg font-semibold ">Requests</h4>
                </a>
                <a href="/saviors" class="flex flex-row items-center gap-1">
                    <box-icon name='group' color="#ffdf20"></box-icon>
                    <h4 class="text-yellow-300 text-lg font-semibold ">Saviors</h4>
                </a>
                </div>

                <div class="relative w-60 group">
                    <div class="h-14 flex justify-between items-center px-3 cursor-pointer">
                        <p></p>     
                        <!-- for alignment -->
                        <img src="/images/uploads/<%= currUser.avatar %>" alt="" class="h-10 w-10 rounded-full object-cover">
                    </div>
                    <div class="absolute flex flex-col right-0 top-14 w-60 h-65 bg-zinc-800 py-3 px-5 gap-3 rounded-lg opacity-0 pointer-events-none
                            translate-y-[-10px]
                            transition-all duration-300
                            group-hover:opacity-100
                            group-hover:pointer-events-auto
                            group-hover:translate-y-0">
                            <div class="acc flex flex-col">
                                <h1 class="text-2xl font-bold"><%= currUser.username %></h1>
                                <h2 class="text-xs text-zinc-500 leading-tight"><%= currUser.email %></h2>
                                <h3 class="text-xs text-zinc-500 leading-tight"><%= currUser.number %></h3>
                            </div>
                            <a href="#myPosts" class="flex flex-row items-center gap-2">
                                <box-icon name='chat' color="#34d399"></box-icon>
                                <h4 class="text-emerald-300 text-lg font-semibold ">My Requests</h4>
                            </a>
                            <a href="/profile/avatar" class="flex flex-row items-center gap-2">
                                <box-icon name='cloud-upload' color="#2196f3"></box-icon>
                                <h4 class="text-blue-500 text-lg font-semibold ">Upload Picture</h4>
                            </a>
                            <a href="/" class="flex flex-row items-center gap-2"> 
                                <box-icon name='home' color="#ffdf20"></box-icon>
                                <h4 class="text-yellow-300 text-lg font-semibold ">Home</h4>
                            </a>
                            <a href="/logout" class="flex flex-row items-center gap-2">
                                <box-icon name='log-out' color="#f44336"></box-icon>
                                <h4 class="text-red-500 text-lg font-semibold ">Logout</h4>
                            </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pt-24"></div> <!-- offset for fixed navbar -->

        <div id="profile" class="flex flex-col lg:flex-row gap-8 items-center justify-center px-4 md:px-10">
            <div class="map w-full max-w-xl">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6379.431352006415!2d<%= currUser.location.longitude %>!3d<%= currUser.location.latitude %>!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1768161981683!5m2!1sen!2sin" class="w-full h-64 md:h-96 rounded-lg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <form id="locform" class="flex flex-row w-fit items-center text-left h-10 gap-1 mt-2 px-2 bg-gray-200 text-black font-semibold rounded-md" action="/update/<%= currUser._id %>" method="post">
                    <input id="lat" type="number" class="hidden" name="latitude" value=0>
                    <input id="long" type="number" class="hidden" name="longitude" value=0>
                    <input id="loc" type="text" class="hidden" name="locality" value="Unknown">
                    <box-icon name='current-location' color="#000000"></box-icon>
                    <button id="reg" type="button">Current Location</button>
                </form>
            </div>
            <div class="flex flex-col gap-6 w-full max-w-2xl">
                <% if (currUser.type) { %>
                    <!-- AVAILABILITY -->
                    <form action="/avail/<%= currUser._id %>" method="post" class="flex justify-end">
                        <% if(currUser.availability === "Available") { %>
                        <select name="availability" onchange="this.form.submit()"
                            class="w-44 h-10 px-4
                                rounded-lg border-2 border-zinc-400
                                bg-zinc-800 text-emerald-300
                                focus:outline-none focus:ring-2 focus:ring-yellow-300">
                            <option class="text-emerald-300" value="<%= currUser.availability %>" selected disabled><%= currUser.availability %></option>
                            <option class="text-emerald-300" value="Available">Available</option>
                            <option class="text-yellow-300" value="Busy">Busy</option>
                            <option class="text-red-400" value="Unavailable">Unavailable</option>
                        </select>
                        <% } else if(currUser.availability === "Busy") { %>
                            <select name="availability" onchange="this.form.submit()"
                                class="w-44 h-10 px-4
                                    rounded-lg border-2 border-zinc-400
                                    bg-zinc-800 text-yellow-300
                                    focus:outline-none focus:ring-2 focus:ring-yellow-300">
                                <option class="text-yellow-300" value="<%= currUser.availability %>" selected disabled><%= currUser.availability %></option>
                                <option class="text-emerald-300" value="Available">Available</option>
                                <option class="text-yellow-300" value="Busy">Busy</option>
                                <option class="text-red-400" value="Unavailable">Unavailable</option>
                            </select>
                        <% } else { %>
                            <select name="availability" onchange="this.form.submit()"
                                class="w-44 h-10 px-4
                                    rounded-lg border-2 border-zinc-400
                                    bg-zinc-800 text-red-400
                                    focus:outline-none focus:ring-2 focus:ring-yellow-300">
                                <option class="text-red-400" value="<%= currUser.availability %>" selected disabled><%= currUser.availability %></option>
                                <option class="text-emerald-300" value="Available">Available</option>
                                <option class="text-yellow-300" value="Busy">Busy</option>
                                <option class="text-red-400" value="Unavailable">Unavailable</option>
                            </select>
                        <% } %>
                    </form>
                <% } %>
                <!-- LOCATION -->
                <h1 class="flex items-center text-left text-2xl font-bold">
                    <box-icon name="map-pin" color="#ffffff" class="mr-2"></box-icon>
                    You are currently in<span class="text-yellow-300 ml-2"><%= currUser.location.locality %></span>
                </h1>
                <!-- GENERATE REQUEST -->
                <div class="w-full max-w-2xl mx-auto mt-10">
                    <h1 class="text-3xl font-extrabold text-center mb-8">Generate a Request</h1>
                    <form action="/post" method="post" class="space-y-8">
                        <!-- SERVICE TYPE -->
                        <div class="relative">
                            <label class="absolute -top-3 left-4 bg-zinc-800 px-2 text-sm text-emerald-300">type of service</label>
                            <select name="type" class="w-full h-12 px-4 bg-zinc-800 text-white 
                                    border-2 border-emerald-300 rounded-xl
                                    focus:outline-none focus:ring-2 focus:ring-emerald-400">
                                <option value="" disabled selected hidden>-- Select service type --</option>
                                <option value="Plumber">Plumber</option>
                                <option value="Electrician">Electrician</option>
                                <option value="Carpenter">Carpenter</option>
                                <option value="HVAC Technician">HVAC Technician</option>
                                <option value="Dentist">Dentist</option>
                                <option value="Primary Physician">Primary Physician</option>
                                <option value="Solar Installer">Solar Installer</option>
                                <option value="Appliances Repair Technician">Appliances Repair Technician</option>
                                <option value="Blacksmith">Blacksmith</option>
                                <option value="Auto Mechanic">Auto Mechanic</option>
                                <option value="General Maintenance">General Maintenance</option>
                                <option value="">Not Sure</option>
                            </select>
                        </div>
                        <!-- DESCRIPTION -->
                        <div class="relative">
                            <label class="absolute -top-3 left-4 bg-zinc-800 px-2 text-sm text-emerald-300">Describe your problem</label>
                            <textarea name="content" required class="w-full h-56
                                px-2 pt-5 pb-4
                                leading-relaxed
                                bg-zinc-800 text-white
                                border-2 border-emerald-300
                                rounded-xl resize-none">
                            </textarea>
                        </div>
                        <!-- BUTTONS -->
                        <div class="flex justify-between mt-6">
                            <button type="reset" class="bg-emerald-200 text-zinc-900
                                    px-6 py-2 rounded-lg
                                    font-bold hover:bg-emerald-300 transition">RESET
                            </button>
                            <button type="submit" class="bg-emerald-200 text-zinc-900
                                    px-6 py-2 rounded-lg
                                    font-bold hover:bg-emerald-300 transition">SUBMIT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="myPosts" class="content flex flex-col min-h-screen w-full p-10 gap-3">
            <h1 class="mt-20 text-2xl font-extrabold text-emerald-300">My Requests</h1>
            <div class="posts mt-5 flex flex-wrap gap-5">
                <% if(currUser.posts.length !== 0){ %>
                    <% currUser.posts.reverse().forEach((post) => { %>
                        <div class="post flex flex-col justify-between w-110 h-90 bg-zinc-700 rounded-lg border-[1px] border-zinc-500 px-5 py-4">
                            <div class="pcont flex flex-col w-full gap-2">
                                <div class="userdata flex flex-row gap-2 items-center">
                                    <img src="/images/uploads/<%= currUser.avatar %>" class="h-13 w-13 translate-y-[4px] rounded-full" alt="">
                                    <div class="ids flex flex-col">
                                        <h2 class="text-base font-bold translate-y-[7px]">@<%= currUser.username %></h2>
                                        <h2 class="text-sm"><%= currUser.location.locality %></h2>
                                        <h5 class="date text-xs text-zinc-400 translate-y-[-3px]"><%= post.date %></h5>
                                    </div>
                                </div>
                                <% if(post.type && post.type !== ""){ %>
                                    <h1 class="text-xl mt-3 font-bold text-white"><%= post.type %></h1>
                                <% } %>
                                <h3 class="text-base font-semibold text-white"><%= post.content %></h3>
                            </div>
                            <div class="btns flex justify-between">
                                <p></p>
                                <a class="bg-emerald-600 py-1 px-2 rounded-lg text-sm flex items-center gap-1" href="/solved/<%= post._id %>">
                                    <box-icon name='checkbox' color="#ffffff"></box-icon>
                                    Solved
                                </a>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <h1 class="p-10 text-6xl font-extrabold text-zinc-700 text-shadow-lg"><em>NULL</em></h1>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/javascripts/location.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);
        if (params.get("login") === "success") {
            Swal.fire({
                toast: true,
                icon: "success",
                title: "Signed in successfully",
                position: "top-end",
                showConfirmButton: false,
                timer: 3000
            });
        }
        else if (params.get("register") === "success") {
            Swal.fire({
            toast: true,
            icon: "success",
            title: "Account created successfully",
            position: "top-end",
            timer: 3000,
            showConfirmButton: false
            });
        }
    </script>
</body>
</html>